<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Bienvenido a Comparte tu receta</h1>
            <p class="lead">Explora populares recetas e inspirate a cocinar algo nuevo</p>
            <a href="/login" class="btn btn-primary btn-lg mt-3">Login</a>
        </div>
        
        <h3 class="mt-4">Revisa recetas populares:</h3>
        <div class="list-group mt-3">
            <a th:each="recipe : ${recipes}" th:href="@{/recipe(name=${recipe})}" class="list-group-item list-group-item-action" th:text="${recipe}"></a>
        </div>
    </div>
</body>
</html>

